html {
    position: relative;
    min-height: 100%;
}
  
body {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    
}

/* temp class for skeleton framing */
.my-container {
    /* border: 1px solid black; */
    margin-top: 20px;
}
/* temp class for skeleton framing */
/* .my-row {
    border: 3px solid red;
} */
/* temp class for skeleton framing */
/* .my-col {
    border: 3px dotted blue;
} */

#updated-forecast-timestamp {
    color: lightgray;
    font-style: italic;
}

/* class used to style 5-day forcast card body area that houses individual day forcast cards */
.card5day-body {
    /* remove bottom padding since the cards have a bottom margin */
    padding-bottom: 0px;
}

/* class used to style individual 5-day forcast card's header (date) */
.card5day-header {
    padding-left: 12px;
    padding-right: 12px;
}

/* styling for individual 5-day forcast card's inner body */
.single-day-body {
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 10px;
}

/* hide class used to remove content right of search area when nothing has yet been searched */
.hide {
    display: none;
}

/* Sticky footer properties */
.footer {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
  
    /* Set the fixed height of the footer here */
    height: 40px;
  
    /* Vertically center the text there */
    line-height: 40px; 
    color: white;
    text-align: center;
    font-size: 14px;
  }